.Registration {
  border: 5px solid black;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 80px;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 520px;
  max-width: 100%;
}

.col-sm-2 {
  padding-right: 30px;
}

.form-control {
  position: relative;
}

.new-user {
  padding-top: 30px;
  display: inline;
}

.registration-background {
  background-image: url("./background.jpg");
  height: 922px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.instructions {
  display: block;
  font-size: x-small;
}
